<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BonsaiTreeShop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <AuthorizeView Roles="Customer">
                <Authorized>
                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    <NavLink class="nav-link" href="orders" Match="NavLinkMatch.All">
                        <span class="oi oi-cog" aria-hidden="true"></span> Order History
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized ><hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    <p class="text-light ps-3 fs-5">
                        <span class="oi oi-chevron-bottom" aria-hidden="true"></span>Admin Powers
                    </p>
                    <NavLink class="nav-link" href="/productManagement" Match="NavLinkMatch.All">
                        <span class="oi oi-cog" aria-hidden="true"></span> Product Management
                    </NavLink>
                    <NavLink class="nav-link" href="/userManagement" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> User Management
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? _userId = "orders?userid=";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
