@page "/cart"

<PageTitle>Cart</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="m-auto" style="width: 70%;">
            <CartComponent/>
        </div>
    </Authorized>
    <NotAuthorized>
        <h2 class="text-light">You need to login!</h2>
        <a href="authentication/login">Go to Login</a>
    </NotAuthorized>
</AuthorizeView>