body {
    margin-top: 20px;
}

/* USER LIST TABLE */
.user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

/* TABLES */
.table {
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,1);
}

.table thead > tr > th {
    border-bottom: 0px solid #C2C2C2;
    padding-bottom: 10px;
}

.table tbody > tr > td {
    font-size: 0.875em;
    background: rgba(256, 256, 256, 0.6);
    border-top: 5px solid transparent;
    vertical-align: middle;
    padding: 12px 8px;
}

.table tbody > tr > td:first-child{
    padding-left: 60px;
}

.table thead > tr > th span {
    border-bottom: 0px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.buttons .btn {
    height: 40px;
    width: 200px;
    border-radius: 0px !important;
}

.btn:hover {
    color: gray !important;
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}