body {
    background-color: #d6d2d2;
    font-weight: 300;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #ecedee;
}
.card-custom {
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,1);
    background: transparent;
    color: #ecedee;
    border: none;
}

.product-image {
    max-height: 20rem;
    background-size: cover;
}
.img-container {
    position: relative;
}

    .img-container .first {
        position: absolute;
        width: 100%;
    }

    .img-container img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
.category i {
    color: #a9a6a6
}

.category span {
    color: #a9a6a6
}
.product-detail-container {
    padding: 10px;
}
.buttons .btn {
    height: 40px;
    width: 150px;
    border-radius: 0px !important;
}