body {
    background-color: #ecedee
}

.card {
    border: none;
    overflow: hidden
}
.card-custom {
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,1);
    background: transparent;
    color: #ecedee;
    border: none;
}

.content p {
    font-size: 12px
}

.right-side {
    position: relative
}

.buttons .btn {
    height: 50px;
    width: 150px;
    border-radius: 0px !important;
}

.btn:hover {
    color: gray !important;
}


